{% extends "base.html" %}

{% block content %}
    <!-- progress section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Alpha Demo</h1>
                <p class="lead fw-normal text-muted mb-0">View our progress on each component below</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- App Store Scraping-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="mb-3">
                                <span class="display-4 fw-bold">App Store</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#appstore">Check it out</a></div>
                        </div>
                    </div>
                </div>
                <!-- NLP-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold">
                            </div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">NLP</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#nlp">Check it out</a></div>
                        </div>
                    </div>
                </div>
                <!-- packet sniffing-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="mb-3">
                                <span class="display-4 fw-bold">Packet Tracing</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#packet">Check it out</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--descriptions-->
    <section class="py-5" id ="appstore">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                    <h2 class="fw-bolder">App Store Scraping Progress</h2>
                    <p class="lead fw-normal text-muted mb-0">Returns database of app descriptors and permissions tags.</p>
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/ap1.png"/></div>
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/ap2.png"/></div>

                </div>
            </div>
        </div>
    </section>

    <section class="py-5" id ="nlp">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <h2 class="fw-bolder">NLP Progress</h2>
                    <p class="lead fw-normal text-muted mb-0">diagrams of workflow for NLP collection and training. Existing repos and new dataset</p>
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/sc1.png" alt="..." /></div>
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/sc2.png" alt="..." /></div>
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/sc3.png" alt="..." /></div>
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/sc4.png" alt="..." /></div>
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/unnamed.png" alt="..." /></div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5" id ="packet">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Packet Analysis Progress</h2>
                    <p class="lead fw-normal text-muted mb-0">Intercepting and decrypting packets from mobile apps.</p>
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/sc8.png" alt="..." /></div>
                </div>
            </div>
        </div>
    </section>


    <!--     
        <section class="py-5" id = "collapse-table">
            <div class="container px-5 my-5">
                <button class="collapse-btn">Flo</button>
                <div class="hide-show-content">
                    put content here from excel sheet into datatable, data output should be retrieved here
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">Search App Store</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <input class="form-control" type="text" placeholder="Enter text here..." aria-label="Enter text here..." aria-describedby="button-search" />
                                    <button class="btn btn-outline-light" id="button-search" type="button">Search</button>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>

        <script>
            var btn = document
                .getElementsByClassName("collapse-btn");
        
            btn[0].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        </script> -->
{% endblock %}