{% extends "base.html" %}

{% block content %}
<!-- Header-->
<div class="d-flex flex-column" style="background:#F3F2F8; height:100%; overflow: auto;">
    <section class="py-3" style="background-color: #F3F2F8;">
        <div class="text-center my-5">
            <h1 class="fw-bolder mb-2" style="font-size: 4em;">CODE V WADE</h1>
            <p class="lead fw-normal mb-4">Take Control of Your Reproductive Health Privacy</p>
            <a class="btn btn-lg px-4 text-light me-sm-3" style="background-color:#758BFD" href="/scorecard">Try It</a>
        </div>
    </section>
    

    <!-- Main Content-->
    <div class="container">
        <div class="col-md-12 mb-5 py-1" style="border-radius:2.5rem; padding-bottom: 5%; background:#758BFD;">
            <!-- Top 10-->
            {% for item in res.items %}
            <div class="card py-0 mx-auto my-5" style="border-radius:2rem; width: 95%; background-color: #F3F2F8;">
                <div class="rounded-3 row">
                    <div class="col-sm-2 text-center">
                        <img src="{{ item.1 }}" style="width:60%; border-radius:30% ">
                    </div>
                    <div class="col-sm-8">
                        <h3>{{ item.0 }}</h3>
                    </div>
                    <div class="col-sm-2">
                        <p>score</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
