<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="/static/css/tables.css" rel="stylesheet"/>
    </head>
        <main class="flex-shrink-0">
         <!-- Navigation-->
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">CODE-V-WADE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/alphademo">Alpha Demo</a></li>
                        <li class="nav-item"><a class="nav-link" href="/scorecard">Try It</a></li>
                        <li class="nav-item"><a class="nav-link" href="/writing4">Writing 4</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <body class="d-flex flex-column">
            <section class="bg-black py-5">
                <div class="d-flex container px-5 my-5">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-resize" src="/static/media/scroll.gif" alt="..."></div>
                        <div class="col-lg-6">
                                <div class="text-center my-5">
                                    <h1 class="fw-bolder text-white mb-2">CODE V WADE</h1>
                                    <p class="lead fw-normal text-white-50 mb-4">Take Control of Your Reproductive Health Privacy</p>
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/scorecard">Try It</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="#features">Learn More</a>
                                </div>
                        </div>
                </div>
            </section>

            <!-- Header -->
            <div class="py-5 text-center bg-lgrey">
                <h6 class="mb-3">Top Apps</h1>
                <h5 class="mb-3">these are the scores for the top popular apps. change redirect of button</h4>
                <a class="btn bg-tealnav text-white" href="" role="button">Search</a>
            </div>

            <!-- Page content-->
            <section class="flex-fill text-center bg-lgrey">
                <button type="button" class="btn btn-primary btn-lg">Button</button>                <div class ="py-2"><img class="text-secondary" src="/static/media/rect.png" alt="..."></div>
                <div class ="py-2"><img class="text-secondary" src="/static/media/rect.png" alt="..."></div>
                <div class ="py-2"><img class="text-secondary" src="/static/media/rect.png" alt="..."></div>
                <div class ="py-2"><img class="text-secondary" src="/static/media/rect.png" alt="..."></div>
            </section>
        </body>            
    
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</html>
