{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column" style="background:#F3F2F8">
    <section class="py-5" style="background-color: #F3F2F8; height: 10%;">
        <div class="text-center my-5">
            <h1 class="fw-bolder mb-2">CODE V WADE</h1>
            <p class="lead fw-normal mb-4">Take Control of Your Reproductive Health Privacy</p>
            <a class="btn btn-lg px-4 text-light me-sm-3" style="background-color:#758BFD" href="/scorecard">Try It</a>
        </div>
    </section>

    <!-- Main Content-->
    <div class="container">
        <div class="card" style="border-radius:2.5rem; margin-top:3%; padding-top: 3%;padding-bottom: 5%; padding-left: 2%; background:#758BFD; margin-bottom:10%;">
            <!-- Top 10-->
            <div class="card text-center" style="border-radius:2.5rem;margin-top: 5%; width: 75%; background-color: #F3F2F8;">
                <div class="rounded-pill card-body">
                    <div class="rounded-pill card text-center">
                        <div class="rounded-pill card-body">
                            <div class="container">
                                <div class="row" style="height:auto">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">App 1</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text</p>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="border-radius:2.5rem;margin-top: 5%; width: 75%; background-color: #F3F2F8;">
                <div class="rounded-pill card-body">
                    <div class="rounded-pill card text-center">
                        <div class="rounded-pill card-body">
                            <div class="container">
                                <div class="row" style="height:auto">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">App 1</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text</p>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="border-radius:2.5rem;margin-top: 5%; width: 75%; background-color: #F3F2F8;">
                <div class="rounded-pill card-body">
                    <div class="rounded-pill card text-center">
                        <div class="rounded-pill card-body">
                            <div class="container">
                                <div class="row" style="height:auto">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">App 1</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text</p>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="border-radius:2.5rem;margin-top: 5%; width: 75%; background-color: #F3F2F8;">
                <div class="rounded-pill card-body">
                    <div class="rounded-pill card text-center">
                        <div class="rounded-pill card-body">
                            <div class="container">
                                <div class="row" style="height:auto">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">App 1</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text</p>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="border-radius:2.5rem;margin-top: 5%; width: 75%; background-color: #F3F2F8;">
                <div class="rounded-pill card-body">
                    <div class="rounded-pill card text-center">
                        <div class="rounded-pill card-body">
                            <div class="container">
                                <div class="row" style="height:auto">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">App 1</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text</p>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="border-radius:2.5rem;margin-top: 5%; width: 75%; background-color: #F3F2F8;">
                <div class="rounded-pill card-body">
                    <div class="rounded-pill card text-center">
                        <div class="rounded-pill card-body">
                            <div class="container">
                                <div class="row" style="height:auto">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">App 1</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text</p>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="border-radius:2.5rem;margin-top: 5%; width: 75%; background-color: #F3F2F8;">
                <div class="rounded-pill card-body">
                    <div class="rounded-pill card text-center">
                        <div class="rounded-pill card-body">
                            <div class="container">
                                <div class="row" style="height:auto">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">App 1</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text</p>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="border-radius:2.5rem;margin-top: 5%; width: 75%; background-color: #F3F2F8;">
                <div class="rounded-pill card-body">
                    <div class="rounded-pill card text-center">
                        <div class="rounded-pill card-body">
                            <div class="container">
                                <div class="row" style="height:auto">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">App 1</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text</p>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="border-radius:2.5rem;margin-top: 5%; width: 75%; background-color: #F3F2F8;">
                <div class="rounded-pill card-body">
                    <div class="rounded-pill card text-center">
                        <div class="rounded-pill card-body">
                            <div class="container">
                                <div class="row" style="height:auto">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">App 1</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text</p>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="border-radius:2.5rem;margin-top: 5%; width: 75%; background-color: #F3F2F8;">
                <div class="rounded-pill card-body">
                    <div class="rounded-pill card text-center">
                        <div class="rounded-pill card-body">
                            <div class="container">
                                <div class="row" style="height:auto">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">App 1</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text</p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
