{% extends "base.html" %}

{% block content %}
    <body>
        <div class="h-100 row">
            <!-- Sidebar-->
            <div class="col-sm-4" style="background-color:#758BFD; height:100%;">
            <!-- inner card 1-->
            <div class="card" style="border-radius:2.5rem;margin-top: 10%; height:30%; width:80%; margin-left:10%; background-color: #F3F2F8;">
                <div class="card-body">
                    <div class="card text-center">
                        <div class="card-body">
                          <div class="container">
                            <h5 class="card-title">Top 10 apps</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card text-center">
                        <div class="card-body">
                          <div class="container">
                            <h5 class="card-title">Click here</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            <!-- inner card 2-->
            <div class="card" style="border-radius:2.5rem;margin-top: 10%;  width:80%; height:30%;margin-left:10%;background-color: #F3F2F8;">
                <div class="card-body" style="border-radius:2.5rem;background-color:#F3F2F8">
                    <div class="card text-center">
                        <div class="card-body">
                          <div class="container">
                            <h5 class="card-title">Top Apps For Privacy</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card text-center">
                        <div class="card-body">
                          <div class="container">
                            <h5 class="card-title">Click here</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>


            <div class="col-sm-8" style="background-color:#F3F2F8; height:100%;">

            <div class="container" style="background-color:#758BFD; margin-top: 5%; width:90%; border-radius:2.5rem;">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="card" style="border-radius:2rem; margin-top: 5%; background:#F3F2F8;">
                        <!-- card content -->
                        <h4 class="card-title text-center">App 1</h4>
                    </div>
                  </div>
                  <div class="col-sm-4" style="height:25%">
                    <div class="card" style="border-radius:2rem; margin-top: 5%; background:#F3F2F8;">
                        <!-- card content -->
                        <h4 class="card-title text-center">83</h4>
                    </div>
                  </div>
                </div>
                    <div class="card" style="border-radius:2rem; margin-top: 5%; margin-bottom: 10%; background:#F3F2F8;">
                        <div class="row">
                            <div class="container" style="width:25%">
                                <h4 class="card-title">Attribute 1</h4>
                            </div>
                            <div class="container" style="width:50%">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="container" style="width:25%">
                                <p class="card-text">6/10</p>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="container" style="width:25%">
                                <h4 class="card-title">Attribute 2</h4>
                            </div>
                            <div class="container" style="width:50%">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="container" style="width:25%">
                                <p class="card-text">6/10</p>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="container" style="width:25%">
                                <h4 class="card-title">Attribute 3</h4>
                            </div>
                            <div class="container" style="width:50%">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="container" style="width:25%">
                                <p class="card-text">6/10</p>
                            </div>
                        </div>      
                    </div> 
                </div>
             </div>
        </div>
{% endblock %}
