{% extends "base.html" %}

{% block content %}
    <div class="h-100 row" style="background-color:#363636; font-family: Cascadia, monospace;">
        <!-- Sidebar-->
        <div class="col-sm-3" style="background-color:var(--cvw-lavender); height:100%;" align="center">
            <!-- inner card 1-->
            <div class="card mt-3" style="border-radius:2.5rem; width:90%; background-color: #F3F2F8;">
                <div class="card-body">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="container">
                                <h5 class="card-title">Top 10 apps</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="container">
                                <h5 class="card-title">Click here</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- inner card 2-->
            <div class="card" style="border-radius:2.5rem; margin-top: 10%;  width:90%; height:30%; background-color: #F3F2F8;">
                <div class="card-body" style="border-radius:2.5rem;background-color:#F3F2F8">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="container">
                                <h5 class="card-title">Top Apps For Privacy</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="container">
                                <h5 class="card-title">Click here</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-9" style="height:100%;">

            <div class="container mt-3" style="background-color:var(--cvw-lavender); width:95%; border-radius:1.5rem; height:100%;">
                <div class="row pt-1">
                    <div class="col-md-2 mt-2">
                        <img class="img-fluid app-icon" src="./static/media/clue-icon.png" alt="Icon for Clue">
                    </div>
                    <div class="col-sm-7 pt-3" style="padding-left:3%;">
                        <h1 class="" id="app-title" style="font: 3em Cascadia, monospace;">{{ title }}</h1>
                        <h3 class="" id="downloads" style="font: 1.5em Cascadia, monospace;">{{ downloads }}</h3>
                    </div>
                    <div class="col-sm-3">
                        <div class="">
                            <!-- card content -->
                            <h2 class="text-center" id="overall-score" style="font: 4em Cascadia, monospace;">83</h2>
                            <h3 class="text-center" id="overall-grade" style="font: 3em Cascadia, monospace;">Good</h3>
                            <h4 class="text-center" id="overall-grade" style="font: 0.7em Cascadia, monospace;">Last updated Feb 6, 2023</h4>
                        </div>
                    </div>
                </div>
                <div class="card py-0" style="margin-top: 3%; margin-bottom: 5%; background:#FFFFFF;">
                    <div class="accordion accordion-flush py-0 rounded-4" id="accordionFlushExample">
                        <!-- Category dropdown -->
                        <div class="accordion-item py-0">
                            <h2 class="accordion-header py-0 my-0 mr-4" id="flush-headingOne">
                                <button class="accordion-button collapsed" style="height: 7em!important; background-color: #F3F2F8;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <div class="row">
                                        <div class="col-sm-7" style="text-align: left;">
                                            <h3>Third Party Sharing &nbsp;<span><i class="bi bi-info-circle info-icon"></i></span></h3>
                                        </div>
                                        <div class="col-sm-4" style="text-align: right;">
                                            <h3>Good</h3>
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse show py-0" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="row metric-row">
                                        <div class="col-sm-9">
                                            <h4 class="fw-light">Shares with third party advertisers</h4>
                                        </div>
                                        <div class="col-sm-3">
                                            <h4 class="fw-bold" style="text-align: right;">Yes</h4>
                                        </div>
                                    </div>
                                    <div class="row" style="height: 3em;">
                                        <div class="col-sm-9">
                                            <h4 class="fw-light">Shares with law enforcement</h4>
                                        </div>
                                        <div class="col-sm-3">
                                            <h4 class="fw-bold" style="text-align: right;">No</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}