<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
         <nav class="navbar navbar-expand-lg navbar-dark" style="background:#071E21;">
            <div class="container px-5">
                <a class="navbar-brand" href="/">CODE-V-WADE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/alphademo">Alpha Demo</a></li>
                        <li class="nav-item"><a class="nav-link" href="/scorecard">Try It</a></li>
                        <li class="nav-item"><a class="nav-link" href="/writing4">Writing 4</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <!-- Body-->
    <body>
        <div class="h-100 row">
            <!-- Sidebar-->
            <div class="col-sm-4" style="background-color:#357266; height:100%;">
            <!-- inner card 1-->
            <div class="rounded-3 card" style="margin-top: 20%; width:75%; margin-left:10%; background-color: #A3BBAD;">
                <div class="rounded-3 card-body">
                    <div class="card text-center">
                        <div class="card-body">
                          <div class="container">
                            <h5 class="card-title">Top 10 apps</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card text-center">
                        <div class="card-body">
                          <div class="container">
                            <h5 class="card-title">Click here</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            <!-- inner card 2-->
            <div class="rounded-3 card" style="margin-top: 10%;  width:75%; margin-left:10%;background-color: #A3BBAD;">
                <div class="rounded-3 card-body" style="background-color:#A3BBAD">
                    <div class="card text-center">
                        <div class="card-body">
                          <div class="container">
                            <h5 class="card-title">Top Apps For Privacy</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card text-center">
                        <div class="card-body">
                          <div class="container">
                            <h5 class="card-title">Click here</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <!-- Main Content-->
            <div class="col-sm-8" style="background-color:#f5f5f5; height: 100%;">
                <!-- inner card 1-->
                <div class="rounded-3 card" style="margin-top: 10%; margin-left: 5%; margin-right:5%; background:#A3BBAD">
                    <div class="rounded-3 card-body">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="row">
                                    <div class="container flex-column" style="width:66%">
                                        <h1 class="card-title">App Name</h1>
                                    </div>
                                    <div class="container col-sm-4">
                                        <h1 class="card-title">83</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">Attribute 1</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">Attribute 2</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="container flex-column" style="width:25%">
                                        <h4 class="card-title">Attribute 3</h4>
                                    </div>
                                    <div class="container flex-column" style="width:75%">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>



     <!-- Footer-->
     <footer class=" py-4 mt-auto" style="background:#071E21;">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>