{% extends "base.html" %}

{% block extrahead%}
<link href="./static/css/custom.css"rel="stylesheet" />
{% endblock %}

{% load custom_tags %}
    

        {% block content %}
        <div class="container text-center" style="padding-top: 5%">
            <h1 class="fw-bolder mb-2" style="font-size: 3em;">Search for Reproductive Health Apps</h1>
            <form action="/search" method="Post" class="mx-auto w-75">
                {% csrf_token %}
                {{ form }}
            </form>
    

            <div class="container py-5">
                <div class="col-md-12 mb-5 py-1" style="border-radius:2.5rem; padding-bottom: 5%; background:#758BFD;">
                    <!-- Search Output-->
                    {% for item in output.items %}
                    <div class="card py-0 mx-auto my-5" style="border-radius:2rem; width: 95%; background-color: #F3F2F8;">
                        <div class="rounded-3 row">
                            <div class="col-sm-2 text-center">
                                <img src="{{ item.1.0 }}" style="width:60%; border-radius:30% ">
                            </div>
                            <div class="col-sm-8">
                                <h3><a href={% url='scorecard' appID=item.0 %} class="cvw-link">{{ item.0 }}</a></h3>
                            </div>
                            <div class="col-sm-2">
                                <p>Score</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <p>Don't see the app you're looking for? <a class="cvw-link" href="/submit">Submit an app to be scored!</a></p>
        </div>



{% endblock %}