{% extends "base.html" %} {% block extrahead%}
<link href="/static/css/custom.css" rel="stylesheet" />
<style>
  @font-face {
    font-family: "CustomFont";
    src: url("static/media/customfont.ttf") format("truetype");
  }

  body {
    font-family: "CustomFont", sans-serif;
  }

  .transparent-text {
    opacity: 0;
  }

  .transparent-text:hover {
    opacity: 1;
  }

  input {
    width:60%;
  }

  .search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  }

  .search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
  }

  .search input:focus {
    box-shadow: none;
    border: 2px solid blue;
  }

  .search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
  }

  .search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;
  }

</style>
{% endblock %} {% block content %}

<!--Left Column-->
<div class="container mt-5">
  <div class="row text-center"style=" margin-top:5%; margin-bottom:30%;">
        <h2 style="font-size: 5rem">Search By Region<img class="img" style="height: 5rem" src="/static/sphere.gif"/></a></h2>
          <div class="row"style="margin-left:27rem;margin-top:2rem; height:450px;width:450px">
            <!--map-->
            <div class="row align-items-center flex-fill d-flex">
              <div class="col">
                <a href="/northamerica" method="get"
                  ><img
                    class="rounded mx-auto"
                    src="/static/media/noun-north-america.png"
                    alt="image"
                    style="width: 65%"
                /></a>
              </div>
              <div class="col">
                <a href="/europe" method="get"
                  ><img
                    class="rounded mx-auto"
                    src="/static/media/noun-europe.png"
                    alt="image"
                    style="width: 80%"
                /></a>
              </div>
              <div class="col">
                <a href="/asia" method="get"
                  ><img
                    class="rounded mx-auto"
                    src="/static/media/noun-asia.png"
                    alt="image"
                    style="width: 100%; height: 220%"
                /></a>
              </div>
            </div>
            <div
              class="row align-items-center flex-fill d-flex"
              style="margin-bottom: 30%">
              <div class="col">
                <a href="/southamerica" method="get"
                  ><img
                    class="rounded mx-auto"
                    src="/static/media/noun-south-america.png"
                    alt="image"
                    style="width: 55%"
                /></a>
              </div>
              <div class="col">
                <a href="/africa" method="get"
                  ><img
                    class="rounded mx-auto"
                    src="/static/media/noun-africa.png"
                    alt="image"
                    style="width: 73%"
                /></a>
              </div>
              <div class="col">
                <a href="/australia" method="get"
                  ><img
                    class="rounded mx-auto"
                    src="/static/media/noun-australia.png"
                    alt="image"
                    style="width: 65%"
                /></a>
              </div>
            </div>
          </div>
          <div class="row text-center"style=" margin-top:5%; margin-bottom:30%;">
            <form action = "search" method="post" >
              {{ form }}{% csrf_token %}
              <button type="submit" class="btn btn-primary" method="post">SEARCH</button>
            </form>   
          </div>
          <div class="row text-center"style=" margin-top:5%; margin-bottom:30%;">
            <!--sort by category -->
            <h2>Sort By Category</h2>
            <form action="/categories" method="get">
              <select name="category" id="categories">
                  <option value="1">Pregnancy and Parenting</option>
                  <option value="2">Period and Ovulation Tracking</option>
                  <option value="3">Birth Control and Contraception</option>
                  <option value="4">Fertility Tracking and Assistance</option>
              </select>
              <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="row text-center"style=" margin-top:5%; margin-bottom:30%;">
            <p>Don't see the app you're looking for?</p>
                <div class="row" style="margin-bottom: 60%">
                  <a class="cvw-link" href="/submit">Submit an app to be scored!</a>
                </div>
          </div>


          


        

    <div class="row">
      <div class="col-md-4 flex-column">
        <!--Right Column-->
        <div
          class="container"
          style="
            overflow: scroll;
            height: 40%;
            background-color: #2723fb;
            border-radius: 10px;
            margin-left: 25%;
            margin-top: 17%;
          "
        >
          {% for item in res.items %}
          <div
            class="card"
            style="
              background-color: white;
              margin-top: 5%;
              margin-left: 10%;
              margin-bottom: 10%;
              margin-right: 10%;
              padding: 20px;
            "
          >
            <div class="row g-0" style="width: 115%">
              <div class="col-md-6">
                <div style="position: relative">
                  <!--icon-->
                  <img
                    src="{{ item.1.0 }}"
                    class="rounded mx-auto d-block card-img-top"
                  />
                </div>
              </div>
              <div class="col-md-6" style="margin-top:20%;"">
              <div class="card-body">
                <!--  app score -->
                <h2
                  class="card-title"
                  style="text-align: center; font-size: 500%"
                >
                  {{ item.1.2 }}
                </h2>
              </div>
            </div>
          </div>
          <!--    app name and link -->
          <div class="row">
            <a
              href="{% url 'scorecard' appID=item.1.1 %}"
              class="h4"
              style="
                color: black;
                text-decoration: none;
                text-align: center;
                word-break: break-all;
                display: block;
                margin-top: 10px;
              "
              >{{ item.0 }}</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    </div>  
</div>

{% endblock %}
