{% extends "base.html" %}

{% block content %}
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- writing 4-->
            <div class="row gx-5 align-items-center">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/w1.png"/>
                <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/w2.png"/>
                <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/w3.png"/>
                <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/w4.png"/>
                <div>
                    
                </div>
                <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/w5.png"/>
                <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/media/w6.png"/>
            </div>
        </div>
    </section>
    
{% endblock %}